<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MinimarketDb"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MinimarketDb;Integrated Security=True;Encrypt=False;TrustServerCertificate=True;Connection Timeout=10"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
